.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  background-color: #fff;
  padding: 11px 14px;
  border-bottom: 0.5px solid #e1e3e6;
  &__info {
    display: flex;
    &-wrap {
      display: flex;
    }
    &-arrow {
      margin-right: 15px;
    }
    &-user {
      display: flex;
      &-description {
        margin-left: 10px;
        span {
          color: #818c99;
          white-space: nowrap;
        }
      }
    }
  }
  &__controls {
    backdrop-filter: blur(32.619380950927734px);
    background: #282b2e33;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    min-width: 88px;
    &-dots {
    }
  }
}
