.messenger {
  padding: 0 12px;
  margin-top: 75px;
  &__date {
    text-align: center;
    span {
      background: #0000003d;
      color: #fff;
      border-radius: 8px;
      padding: 4px 8px;
      max-width: 67px;
      white-space: nowrap;
      font-size: 13px;
    }
  }
  &__cover-letter {
    max-width: 327px;
    padding: 7px 12px;
    background-color: #cce4ff;
    border-radius: 18px;
    margin-left: auto;
    margin-top: 16px;
    h5 {
      font-size: 17px;
    }
    p {
      font-size: 17px;
    }
  }
}
